.generate-quiz-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.generate-container {
  min-width: 400px;
  margin: auto;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generate-container h2 {
  color: #222;
  margin-bottom: 10px;
  margin-bottom: 22px;
}

.url-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-size: 16px;
}

.generate-btn,
.history-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.history-btn:hover,
.generate-btn:hover {
  background-color: #0056b3;
}

.history-btn {
  margin-top: 20px;
  padding: 8px 16px;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 15px;
}
